@font-face{font-family:wtGothic;src:url(/wtgothic/WTGothic-RegularItalic.woff2) format("woff2"),url(/wtgothic/WTGothic-RegularItalic.woff) format("woff");font-weight:400;font-style:italic}@font-face{font-family:wtGothic-medium;src:url(/wtgothic/WTGothic-Medium.woff2) format("woff2"),url(/wtgothic/WTGothic-Medium.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:wtGothic-bold;src:url(/wtgothic/WTGothic-Bold.woff2) format("woff2"),url(/wtgothic/WTGothic-Bold.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:wtGothic-bold;src:url(/wtgothic/WTGothic-BoldItalic.woff2) format("woff2"),url(/wtgothic/WTGothic-BoldItalic.woff) format("woff");font-weight:400;font-style:italic}
@font-face{font-family:wtGothic;src:url(/wtgothic/WTGothic-Regular.woff2) format("woff2"),url(/wtgothic/WTGothic-Regular.woff) format("woff");font-weight:400;font-style:normal}
@tailwind base;
@tailwind components;
@tailwind utilities;npm run dev

html,body {
  user-select:none;
}
*{
  font-family: wtGothic-medium,sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.thumbs {display: none !important;}
.bg-t{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 100%;
}
.title-s{
  position: absolute;
  right: 10px;
  bottom: 50px;
  background: white;
    color: #af3b6e;
    font-weight: bold;
    padding: 6px 10px;

}
.name-s{
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-top: 2px;
  background: white;
    color: #af3b6e;
    font-weight: 600;
    padding: 6px 10px;
}
.pod-s h2 , .pod-s p{
  color: white !important;
  text-align: center;
}